body {
    height: 100%;
    font-family: Arial, sans-serif;
   
  
    
}
 
* {
    box-sizing: border-box;
}
 
h1 {
    text-align:center;
    color:green;
    -webkit-text-stroke: 1px black;
    padding-top: 5%;
    text-transform: uppercase;
    margin-left: 3%;
    
   
    
}
 

.bg-img {
    background-image: url(
"https://media.geeksforgeeks.org/wp-content/uploads/20191212174641/bg1.png");
    min-height: 1000px;
    background-size: cover;
   
    
}


.container {
    position: absolute;
    left: 28px;
    top: 50px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    margin-left: 35%;
    margin-top: 10%;
}

b {
    color: green;
    font-size:26px;
    -webkit-text-stroke: 1px black;
    margin-left: 50%;
}


input[type=text],
input[type=password] {
    width: 150%;
    padding: 15px;
    margin: 15px 0px;
    border: 2px solid green;
}
 



.button {
    background-color: green;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: 20%;
    margin-top: 10%;
    min-width: 100%;
    
}

 
.button:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
span {
    margin-left: 25%;
    font-size: 20px;
}