
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@400;500&family=Rubik+Moonrocks&display=swap');
body {
    height: 100%;
    
    align-items: center;
    font-family: 'Poppins', sans-serif;

    
    
    
}
 
* {
    box-sizing: border-box;
    align-items: center;
}
 
h1 {
    text-align:center;
    color:white;
    margin-left:3%;
   
    text-transform: uppercase;
}
 

.bg-img {
    background-image: url(
"https://miro.medium.com/max/1400/0*CQ6Lfnvau8DJac_o.jpg");
    min-height: 1000px;
    background-size: cover;
}



.container {
    position: absolute;
    left: 28px;
    top: 50px;
    margin: 20px;
    max-width: 500px;
    padding: 16px;
    margin-left: 28%;
    width:200%;
    height:120%;
    display:flex;
    flex-direction:column;
    background:rgba(255,255,255,0.06);
    box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
    border-left:1px solid rgba(255,255,255,.3)
    
    
}

b  {
    color: white;
    font-size:23px;
    
    margin-left: 22%;
    margin-right: 83px;
}


input[type=text],
input[type=datetime-local] {
    width: 100%;
    padding: 15px;
    margin: 15px 0px;
    border: none;
    background: transparent;
    color:white;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}



 



.button {
    background-color:darkcyan;
    color: white;
    padding: 16px 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-left: 50px;
    margin-top: 10%;
    margin-right: 50px;
}
 
.button:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}
textarea {
   width:100%;
    border: none;
    background: transparent;
    color:black;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}