
<div class="bg-img">
    <h1>Task Page</h1>
     
    <form class="container">
        <b>Username</b>
        <input list="username" type="text" placeholder="User Name">
        <datalist id="username">
          <option value="karthick">
          <option value="Prabhu">
          <option value="Aruna">
         </datalist> 


        <b>Taskname</b>
        <input type="text" placeholder="Enter Taskname"
                name="Taskname" required>
    
         <b>User Mail</b>
        <input list="email" type="text" placeholder="select a mail">
        <datalist id="email">
          <option value="karthickvk92@gmail.com">
          <option value="prabhu23@gmail.com">
          <option value="aruna2000@gmail.com">
          </datalist>

        <b>Task Description</b><br><br>
        <textarea rows="8" cols="50" placeholder="Enter the description"></textarea><br><br>
            
            
        <b>Start Date&Time</b>
        <input type="datetime-local" placeholder="date&time"
        name="datetime-local" required><br><br>
        
        <b>Estimate Date&Time</b>
        <input type="datetime-local" placeholder="date&time"
        name="datetime-local" required>

        <button type="submit" class="button">submit</button>
    </form>
  
</div>

