<div class="bg-img">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">




        <h1><span class="text">Registeration</span></h1>
         
        <form class="container" img src="https://unsplash.com/photos/kgqu_qs3B78"> 
                 
            <b>FirstName</b>
            <input type="text" placeholder="Enter Firstname"
                    name="Fname" required>
                    
            <b>LastName</b>
            <input type="text" placeholder="Enter Lastname"
            name="Lname" >       
    
    
           <b>Username</b>
            <input type="text" placeholder="Enter Username"
                    name="username" required>
    
            <b>Password</b>
            <input type="password" placeholder="Enter Password"
                    name="password" required>
    
            <b>Email</b>
            <input type="email" placeholder="Enter Email"
                    name="email" required>       
                    
                        
            
            <button class="button"><a href="login"><span>Register</span></a></button>
            
            
        </form>
    </div>