<div class="bg-img">
        <h1>Registeration</h1>
         
        <form class="container">
            <b>First Name</b>
            <input type="text" placeholder="Enter Fname"
                    name="Fname" required>
                    
            <b>Last Name</b>
            <input type="text" placeholder="Enter Lname"
            name="Lname" required>       
    
    
           <b>Username</b>
            <input type="text" placeholder="Enter Username"
                    name="username" required>
    
            <b>Password</b>
            <input type="password" placeholder="Enter Password"
                    name="password" required>
    
            <b>Email</b>
            <input type="text" placeholder="Enter Email"
                    name="email" required>       
    
            
            <button type="submit" class="button"><a href="login">Register</a></button>
            
        </form>
    </div>